@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body {
    font-family: 'Courgette', cursive;
    margin: 0;
    font-size: 2rem;
}

h1 {
    font-size: 60px;
}

span {
    color: crimson;
}

img {
    border: 1px solid rebeccapurple;
    width: 700px;
    padding-top: 0px;
}

a {
    text-decoration: none;
    border: 2px solid #f104e6;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 50px;
    background-color: rgba(243, 7, 7, 0.575);
    color: rgb(101, 2, 167);
}

.top {
    display: flex;
    ;
}

.container {
    width: 50%;
    padding-left: 20px;
}