@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body {
    font-family: 'Courgette', cursive;
    margin: 0;
    font-size: 2rem;
}

h1 {
    font-size: 60px;
}

p {
    text-align: justify;
}

span {
    color: crimson;
}

img {
    width: 700px;
}

a {
    text-decoration: none;
    border: 2px solid #f10404;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 50px;
    background-color: #f104e6;
    color: rgb(44, 44, 41);
}

.top {
    display: flex;
    background-color: #93e60fe3;
    height: 100vh;
}

.container {
    width: 50%;
    padding-left: 20px;
}

s .mid {
    display: flex;
    height: 100vh;
}

.mid-con {
    padding: 0px 20px 0px 10px;
    background-color: rgba(16, 223, 250, 0.822);
}